.containerComics {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-bottom: 20px;
}

.contentComics {
    position: relative;
    display: flex;
    justify-content: center;
    overflow-x: auto;
    gap: 5px;
}

.comics {
    position: relative;
    display: flex;
    align-items: center;
    width: 150px;
    height: 250px;
    border-radius: 1px;
    overflow: hidden;
}

.imgComics {
    position: absolute;
    width: 100%;
}

.link {
    text-decoration-line: none;
    text-decoration: none;
    text-decoration-style: none;
}