.container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    z-index: 10;
}

.contentTitle {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
    margin-left: 40px;
}

.title {
    position: relative;
    font-size: 28px;
    font-family: "Kaushan Script", cursive;
    color: black;
    user-select: none;
}

.contentAccess {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-right: 60px;
}

.contentLogin {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid #dedcd9;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 60px;
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-style: none;
}

.textLogin {
    color: black;
    font-size: 13px;
}

.contentLogout {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid #dedcd9;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-style: none;
}