.containerTrailer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80vh;
    overflow: hidden;
}

.imgTrailer {
    position: absolute;
    width: 100%;
}